a[href*='kwamamaza'],
.left-side-box,
.banner300x250,
img[src*='ad'] {
  display: none !important;
}

body {
  background-color: white;
  background: none;
}

@media (prefers-color-scheme: dark) {
  body,
  .row,
  a,
  [class*='article'],
  .fulltext {
    background-color: rgb(50, 50, 50);
    color: white !important;
  }

  .homenews {
    border: none;
  }

  .title-section-v6 {
    color: white !important;
  }
}
